h1 {
    color: #6261E2
}

p {
    color: grey
}


.center_text {
    text-align: center;
}


.card_with_question {
    background-color: #ebecff;
    color: black;
    width: 200px;
    height: auto;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    font-size: 15px
}


.cards {
    display:flex;
    justify-content: center;
}


body {
    font-family: "Gill Sans", sans-serif;
}

.smart-search-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.smart-search-text {
    display: flex;
    justify-content: center;
}

.no-smart-search-button {
    display: flex;
    justify-content: center;
}

.button {
    border-radius: 14px;
    border: None;
    padding: 10px;
}

.button:hover {
    background-color: darkgray;
}