<!DOCTYPE>

<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>    
    <link rel="stylesheet" href="../static/base.css">
</head>

<body>

    <div class='header'>

        <div class="header-menu">
            <a href="https://ru.ruwiki.ru/wiki/Заглавная_страница"><img class="ruwiki-icon" src="../static/logo_ruwiki.svg" alt = "Логотип Рувики"></a>

            <div class="header_buttons"><button class="button-login">Войти</button>
            <button class = "button-change-font">Aa</button></div>
        </div>

        <hr>
    </div>   

</body>

</html>