<!DOCTYPE html>

<html>

<head>
    <meta charset="utf=8">
    <title>{{title_article}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='article.css')}}">
</head>

<body id="main">
    <div class="article">
        <div class="article_text">
            <div>
                <h1>{{article.title}}</h1>
            </div>
            <div class="article-btns">
                <button class="article-btn">
                    <img src="{{url_for('static', filename='translate.png')}}" alt="Перевод" class="article-icon">
                </button>
                <button class="article-btn">
                    <img src="{{url_for('static', filename='share.png')}}" alt="Поделиться" class="article-icon">
                </button>
                <button class="article-btn">
                    <img src="{{url_for('static', filename='headphones.png')}}" alt="Прослушать" class="article-icon">
                    
                </button>
            </div>
            <div>
                {{article.content}}
            </div>
        </div>

        <div class="article_image">
            <h3 class="article_image_name">{{article.title}}<h3>
            <img src="{{ url_for('uploaded_photo', filename=article.photo) }}" alt="{{article.title}}">
        </div>
    </div>

</body>

</html>