<!DOCTYPE html>

<html>

<head>
    <meta charset="utf=8">
    <title>{{title_article}}</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/article.css">
</head>

<body id="main">
    <div class="article">
        <div class="article_text">
            <div>
                <h1>{{title_article}}</h1>
            </div>
            <div class="article-btns">
                <button class="article-btn">
                    <img src="static\translate.png" alt="Перевод" class="article-icon">
                </button>
                <button class="article-btn">
                    <img src="static\share.png" alt="Поделиться" class="article-icon">
                </button>
                <button class="article-btn">
                    <img src="static\headphones.png" alt="Прослушать" class="article-icon">
                    
                </button>
            </div>
            <div class="article_text">
                {{text_article}}
            </div>
        </div>

        <div class="article_image">
            <h3 class="article_image_name">{{article_image_title}}<h3>
            <img src='{{ article_image_path }}' alt="{{title_article}}">
        </div>
    </div>

</body>

</html>